extends ../layout
block content
    include ../components/header
    section(class='container-margin-m')
        div(class='row')
            div(class='col s12 m12 l4')
                div(class='grid-column grid-panel')
                    include panel-option
            div(class='col s12 m12 l8')
                div(class='grid-column grid-panel')
                    if active === "mis reportes"
                        include result-container-list
                    else
                        include result-container
block append scripts
    script(src='/javascripts/pagination.js')
    script.
        paginatorReportes = new Paginator("reporte");
        paginatorReportes.options.url_ajax = "/reporte/list/"+localStorage.getItem("ciudad");
        paginatorReportes.options.numResultsShow = 12;
        paginatorReportes.obtenerTodos();
        paginatorReportes.renderizarTemplate();