div(class='grid-column')
    ul.collection
        if opciones
            for opcion in opciones
                if opcion.valor === active
                    li(class='collection-item active'): a(href='#{opcion.url}') #{opcion.valor}
                else
                    li(class='collection-item'): a(href='#{opcion.url}') #{opcion.valor}