header(class='row header-section container-controls')
    div(class='header-container col s12 m5 l5')
        ul(class='pagination center' data-template="reporte-list")
            li(class='pagination-prev'): a(href='#') <
            li(class='pagination-number' data-index='#{iter}'): a(href='#') #{1+ iter++}
            li(class='pagination-next'): a(href='#') >
section(class='row container-result' data-template='reporte-list')
   div(class='report-list result-item')
        div(class='grid-row')
            div(class='report-list-col-apoyos')
                span(class='title-medium' data-params='Napoyos,length') Napoyos
                i(class='fa fa-bullhorn')
            div(class='report-list-col-information')
                h3(class='title-mini'): a(href='/#{credencial.nombre}/reportes/::id::/details' data-params='titulo') titulo
                p(data-params='descripcion') descripcion
                small(data-params='lapsoDeTiempo') lapsoDeTiempo