header(class='row header-section')
    div(class='header-container col s12 m5 l5')
            ul(class='pagination center' data-template='reporte')
                li(class='pagination-prev waves-efect'): a(href='#') <
                li(class='pagination-number' data-index='#{iter}'): a(href='#') #{1+ iter++}
                li(class='pagination-next'): a(href='#') >
    div(class='header-container col s12 m4 l4')
        div(class='input-field')
            select(name="categorias")
section(class='row grid-cards')
    div(class='row row-cards container-result' data-template="reporte")
       div(class='col s12 m4 l4 result-item')
            div(class="card card-report")
                figure(class="card-image" class='card-report-container-img')
                    img(src="/photos/url_fotos" class='card-report-img')
                div(class="card-content")
                    p: a(href='/#{credencial.nombre}/reportes/::id::/details' data-params='titulo') titulo