div(class="row" id="main-content")
	div.container
		div.center
			h4(class='align-center') ¿Como deseas registrate?
		div(class="col s12 l6")
			a(href='/ciudadano/register')
				div(class="card gray lighten-2 hoverable card-option")
					img(src='/images/avatar-ciudadano.png' class='responsive-img')
					h4 Soy ciudadano
		div(class="col s12 l6")
			a(href='/organizacion/register')
				div(class="card gray lighten-2 hoverable card-option")
					img(src='/images/avatar-organizacion.png' class='responsive-img')
					h4 Soy organizacion