body {
    background: rgb(242,242,242);
    color: #1F4E79;
    display: flex;
    min-width: 100%!important;
    width: 100% !important;
    flex-direction: column;
    align-items: center;
}

body > *{
    margin-bottom: 1em;
}

.container-margin-s{
    min-width: 95% !important;
    width: 95%;
}

.container-margin-m{
    min-width: 85% !important;
    width: 85%;
}

.container-margin-l{
    min-width: 80% !important;
    width: 80%;
}

.grid-column{
    padding: 0 !important;
    margin: 0 0 0.7em 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-panel{
    background: white !important;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.16);
}

.title-big{
    font-size: 2em !important;
    font-weight: 500;
}

.title-medium{
    font-size: 1.6em !important;
    font-weight: 500;
}

.title-small{
    font-size: 1.3em !important;
    font-weight: 500;
}

.title-mini{
    margin: 1.3em 0!important;
    font-size: 1.17em !important;
    font-weight: 500;
}

.message-box{
    background: rgba(206, 227, 244, 0.83);
    text-align: center;
    width: 96%;
    margin: 1em auto;
    color: gray;
    padding: 1em 0.5em;
}

.grid-column > *{
    min-width: 95% !important;
}

.grid-column > .margin-s{
    margin: 0.5em 0 !important;
}

.grid-column > .margin-m{
    margin: 0.8em 0 !important;
}

.grid-column > .margin-l{
    margin: 1.1em 0 !important;
}

.grid-row{
    margin: 0 !important;
    padding: 0.7em 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.img-panel-center{
    width: auto !important;
    height: 15em !important;
    margin: 0.5em auto;
    max-width: none !important;
}

.btn-float-right{
    position: absolute;
    top: 1em;
    right: 1em;
}

div.avatar {
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 15em;
    width: 15em;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    margin: auto;
}

.grid-row > *{
    margin-left: 0.5em !important;
}

.grid-child{
    margin: 0 !important;
    min-width: 100% !important;
}

*{
	padding: 0;
	margin:  0;
}

a {
  color: #064791;
}

/* ESTILOS DE SCROLLBAR */

/* scroll tabs */
.tabs::-webkit-scrollbar{
  width: 0;
    height: 0;
}

.tabs::-webkit-scrollbar-button{
  width:0;
}

.tabs::-webkit-scrollbar-track{
  background:red;
width: 1px;
}

.tabs::-webkit-scrollbar-thumb{
  background: green;
    width: 0;
    height: 1px !important;
}

.tabs::-webkit-scrollbar-thumb:hover{
    background: -webkit-linear-gradient(top, #4ca06d, #5aafb0);
}

.tabs::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(77,161,112,.6);
}

/* scroll slider-reportes */

#container-photos::-webkit-scrollbar{
  height: 1em;
}

#container-photos::-webkit-scrollbar-button{
  width:1em;
}

#container-photos::-webkit-scrollbar-track{
  background:rgb(134, 183, 227);
    width: 1px;
}

#container-photos::-webkit-scrollbar-thumb{
  background: rgb(31,78,121);
    width: 1em;
    height: 2px !important;
}

#container-photos::-webkit-scrollbar-thumb:hover{
    background: -webkit-linear-gradient(top, #4ca06d, #5aafb0);
}


#container-photos::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(77,161,112,.6);
}


/* FORMULARIO LOGIN*/

form ::-webkit-input-placeholder { 
	color: #1F4E79;
}

form input.not("[type=submit]"){
	border-bottom: 1px solid rgb(31,78,121) !important;
}

form a.form-login-btn{
	display: block;
	margin: auto;
	width: 70%;
	box-shadow: 0 0 0;
}

div.card{
	padding: 2em;
	margin: auto;
}

form .block-report{
    padding: 2em;
}

.block-report.panel{
    min-width: 100% !important;
}

#map-report{
    height: 30em;
    width: auto !important;
    margin: 1em;
}

#map-report-result{
    height: 20em;
    width: auto !important;
    margin: 1em;
}

.report-list{
    box-shadow: 0 0 1px gray;
    padding: 0.7em 0.5em !important;
    margin: 0.4em auto;
    width: 90% !important;
}

.btn-solved{
    background: green;
    color: white;
}

.report-list > *{
    margin: 0.4em auto;
}

.report-list-col-apoyos{
    min-width: 8em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.report-list h3{
    margin: 0.5em 0 !important;
}

/* HEADER */

a.brand-logo{
	height: inherit;
	display: flex !important;
	flex-direction: row;
}

a.brand-logo img{
	margin: auto;
}

.main-header{
	padding: 0 1em;
	background: rgb(31,78,121);
    color: white !important;
}

.main-header ul.right li a{
	font-size: 1.2em;
}

#main-content{
	margin: 0 !important;
	padding: 0 5em;
	padding-top: 5em;
}

#main-content-small{
	height: 38.6em;
	margin: 0 auto!important;
	padding: 0 1em;
	padding-top: 1em;
}

#main-content-stretch{
	height: 38.6em;
	margin: 0 !important;
	padding: 0 1em;
	padding-top: 2em;
}

.content-part{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.owl-slider .item{
    height: 30em;
}

#lista img{
    height: 10em;
}

/* MENU MOBIL */

#mobile-menu{
	background: rgb(31,78,121);
}

#mobile-menu li a{
	color: white;
}

#mobile-menu li:hover, #mobile-menu li.active, #mobile-menu li.active a, #mobile-menu li a:hover{
	background: white;
	color: rgb(31,78,121);
	width: 100%;
}

#mobile-menu img{
	margin-left: 2em;
	margin-top: 2em;
}

.my-toast{
	color: white;
}

/* CARD OPTION */

.card-option{
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* ESTILOS DE RESPUESTAS */

.respuesta{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin: 0.5em auto;
    align-items: center;
}

.respuesta img{
    height: 5em;
    margin-right: 0.5em;
}

.respuesta p{
    background: rgb(73, 123, 168);
    color: white;
    padding: 0.5em;
    margin: auto 0.3em;
    border-radius: 0.8em;
}

.panel-option{
    display: flex;
    flex-direction: column;
}

.panel-option li.active a{
    color: white;
    text-decoration:none;
}

@media (max-width: 768px) {
	#main-content{
		padding: 0 2em;
	}
    
    .container-margin-s,.container-margin-m, .container-margin-l{
        min-width: 100% !important;
    }
    
    .grid-column{
        padding: 0.2em !important;
    }
    
    #main-content-small{
		padding: 0;
	}
    
    .grid-column{
        margin: 0.5em 0 !important;
    }

	.card-option{
		margin: 1em 0 !important;
	}
    
    .owl-slider .item{
        height: 20em;
    }
    
    #container-photos li{
        min-width: 100% !important;
    }
    
    .modal-img-photo{
        width: 100% !important;
        height: auto !important;
    }
    
    .container-wrap{
        justify-content: center !important;
    }
    
    .container-wrap > *{
        margin: 0.5m auto !important;
    }
    
    .report-list-col-apoyos{
        min-width: 6em !important;
    }
    
    // scroll de fotos en tamaño de moviles
    #container-photos::-webkit-scrollbar{
      height: 0;
    }
    
    #container-photos::-webkit-scrollbar-thumb{
        height: 0;
    }

}

/* DETALLES DE REPORTE */
/* START */

#slider-photo-details{
    width: 80% !important;
    margin: auto;
    background: red;
}

.container-title{
    height: inherit;
    width: 90%;
    margin: auto;
    padding: 1em;
    overflow: auto;
    display: flex;
    justify-content: space-between;
}

.container-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container-title > *{
    display: inline;
    height: inherit !important;
}

.detail-description{
    margin: auto;
    width: 90%;
    padding: 1em;
    border-left: 0.2em solid rgba(31, 78, 121, 0.86);
}

.btn-title{
    text-decoration: none;
    vertical-align: middle;
    padding: 0.4em 1em;    
    background: white;
    color: rgba(31, 78, 121, 0.86);
    border: 0 !important;
}

.btn-title-dark{
    text-decoration: none;
    vertical-align: middle;
    padding: 0.4em 1em;    
    background: rgba(31, 78, 121, 0.86);
    color: white;
    border: 0 !important;
}

.btn-title-dark:hover{
    text-decoration: none;
    vertical-align: middle;
    padding: 0.4em 1em;    
    background: rgba(20, 68, 111, 0.9);
    color: white;
    border: 0 !important;
}

.btn-title:hover{
    background: rgba(31, 78, 121, 0.86);
    color: white;
    cursor: pointer;
}

.container-title > h5{
    float: left;
}

.container-title > span{
    float: right;
}

.linear-title{
    width: 90%;
    margin: auto;
}

.modal-photos{
    background: black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 3;
    min-width: 100%;
    min-height: 100%;
}

.modal-img-photo{
    max-height: 40em;
    height: 40em;
}

/* Estilos select */
.dropdown-content.select-dropdown > *{
    /*background: #fcfca1;
    color: black !important; */
}

.slider-photos #container-photos li{
    min-width: 45%;
    margin: 0 0.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slider-photos #container-photos li img{
    max-height: 15em;
    box-shadow: 0 0 2px gray;
}

#container-photos{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

.slider-photo-details.owl-slider .item{
    height: 20em !important;
    padding: 1em !important;
}

.slider-photo-details.owl-slider .owl-item img{
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto !important;
}

/*END   */

/* LISTA DE SUSCRIPCIONES */

.collection-suscripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-suscripcion > li{
    margin: 0 !important;
    padding: 0.6em 0 !important;
    min-width: 100%;
}

.collection-suscripcion > li .item-option a{
    color: white;
    text-decoration: none;
    background: rgba(31, 78, 121, 0.86);
    padding: 0.5em;
}

.collection-suscripcion > li .item-option a:hover{
    color: white;
    text-decoration: none;
    background: rgb(22, 73, 119);
    padding: 0.5em;
}

.collection-suscripcion li.row.collection-suscripcion-header{
    color: white !important;
    text-align: center !important;
    font-weight: bold;
    background: rgba(31, 78, 121, 0.86);
}

.collection-suscripcion li.row.collection-suscripcion-item{
    color: white !important;
    text-align: center;
    background: rgba(31, 78, 121, 0.52);
}

/* PANEL RESULTS */

.panel{
    margin: 1em auto !important;
    background: white;
    padding: 2em 0;
    min-width: 100%;
}

section.panel{
    min-width: inherit !important;
    margin: auto !important;
}

#problemas-list{
    margin: 1em 0;
}

.panel .row{
    margin: 0 auto;
    min-height: 80%;
    max-width: 80%;
}

.panel-data-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.element-panel{
    width: 90% !important;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.element-panel > *{
    margin: 0.5em auto;
    width: 100%;
}

/* LISTA DE OTROS USUARIOS */

.item-user{
    background: #eae5e5;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-wrap: break-word;
}

.item-user-picture{
    height: 7em;
    border: none;
    border-radius: 50%;
}

.item-user > *{
    margin: 0.2em 0;
    max-width: 100%;
}

.panel-title{
    margin: 1.2em auto;
    text-align: center;
}

header.header-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

header.header-section > *{
    margin: 0;
}

.row-cards .col{
    margin: 0.4em 0;
}

/* Estilos de cartas */

.card-report{
    padding: 0 !important;
}

.card figure{
    margin: 0;
    height: 12em;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.card .card-report-container-img .card-report-img{
    display: block;
    max-width: 100%;
    margin: auto;
    height: auto;
}

.subcontainer{
    height: inherit;
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}