extends ../layout
block content
    include ../components/header
    div(id='main-content' class='row')
        div(class='subcontainer')
            -active = 'suscribir ciudad'
            include ../components/panel-option
            section(class='white z-depth-1 col s12 m8 l8 panel')
                    div.row
                        h5(class='panel-title') Buscador de ciudades
                        div(class='input-field container')
                            form(id='ciudades' class='container' method='post' action='/#{credencial.rol}/ciudades/suscribir')
                                input(type='text' id='ciudad' name='ciudad' required)
                                input(type="submit" class='btn' value='suscribir')
                    div.row
                        h5(class='panel-title') Ciudadades inscritas
                        if suscripcion.length > 0
                            ul(class='collection collection-suscripcion')
                                li(class='row collection-suscripcion-header')
                                    div(class='col s6 item-header') Ciudad
                                    div(class='col s6 item-header')
                                for ciudad in suscripcion
                                    li(class='row collection-suscripcion-item')
                                        div(class='col s6 item-value') #{ciudad.nombre}
                                        div(class='col s6 item-option'): a(href="/ciudadano/ciudades/eliminar/#{ciudad.place_id}") quitar de la lista
                                
                        else
                            h5 No hay ningun dato
block append scripts
    script(src="http://maps.google.com/maps/api/js?libraries=places")
    if credencial.rol === "ciudadano"
        script(src="/javascripts/ciudadano/add-problems.js")
    else
        script(src="/javascripts/organizacion/add-problems.js")
    script(src="/javascripts/autocomplete.js")