extends ../layout
block content
    include ../components/header
    section(class='container-margin-m')
        div(class='row')
            -active = 'suscribir ciudad'
            section(class='col s12 m12 l4')
                div(class='grid-column grid-panel')
                    include ../components/panel-option
            section(class='col s12 m12 l8')
                div(class='grid-column grid-panel')
                    div.row
                        h5(class='panel-title') Buscador de ciudades
                        div(class='input-field container')
                            form(id='ciudades' class='container' method='post' action='/#{credencial.rol}/ciudades/suscribir')
                                input(type='text' id='ciudad' name='ciudad' required)
                                input(type="submit" class='btn' value='suscribir')
                    div.row
                        h5(class='panel-title') Ciudadades inscritas
                        if suscripcion.length > 0
                            ul(class='collection collection-suscripcion')
                                li(class='row collection-suscripcion-header')
                                    div(class='col s6 item-header') Ciudad
                                    div(class='col s6 item-header')
                                for ciudad in suscripcion
                                    li(class='row collection-suscripcion-item')
                                        div(class='col s6 item-value') #{ciudad.nombre}
                                        div(class='col s6 item-option')
                                            a(href="/ciudadano/ciudades/eliminar/#{ciudad.place_id}")
                                                i(class='fa fa-trash hide-on-med-and-up')
                                                i(class='hide-on-small-only') quitar de la lista
                                
                        else
                            h5 No hay ningun dato
block append scripts
    script(src="http://maps.google.com/maps/api/js?libraries=places")
    script(src="/javascripts/ciudadano/add-ciudad.js")
    script(src="/javascripts/autocomplete.js")