div(class='container-margin-m')
    div.container
        div(class="card gray lighten-2 card-option")
            h4 Datos de ciudadano
            div.row
                div(class='col s12 m6 l6 content-part card-option')
                    img(src='/images/avatar-ciudadano.png')
                div(class='col s12 m6 l6 content-part')
                    form(class="col s12", id='form-register-ciudadano' action='/ciudadano/add' method='post')
                        div(class="row")
                            div(class="input-field col s12")
                                input(id="nick" name='nick' type="text" placeholder='Nick' class="validate" required)
                                label(id='label-nick' for='nick') 
                            div(class="input-field col s12")
                                input(id="email" name='email' type="email" class="validate" placeholder='Email' required)
                                label(id='label-email' for='email') 
                            div(class='input-field col s12')
                                input(id='password' name='password' type='password' placeholder='Password' required)
                            div(class='input-field col s12')
                                input(id='ciudad' name='ciudad' type='text' required)
                            div(class='input-field col s12' id="inputs-container")
                            input(class='btn' value='registrar' type='submit')