extends ../layout
block content
    include ../components/header
    section(class='container-margin-m')
        div(id='' class='row')
            input(type="hidden" value="#{credencial.id}" id="idreports")
            div(class='col s12 m4 l4 hide-on-med-and-down')
                div(class='grid-column grid-panel')
                        include ../components/panel-option
            div(class='col s12 m12 l8')
                div(class='grid-column grid-panel')
                        include ../components/result-container-list
block append scripts
    script(src='/javascripts/pagination.js')
    script.
        console.log("juepaa");
        paginatorReportes = new Paginator("reporte-list");
        paginatorReportes.options.url_ajax = "/reporte/persona/"+$("#idreports").val();
        paginatorReportes.options.numResultsShow = 12;
        paginatorReportes.obtenerTodos();
        paginatorReportes.renderizarTemplate();