extends ../layout
block content
    include ../components/header
    div(class='subcontainer container')
            section(class='block-report row panel')
                div(class='') este reporte ha sido eliminado