extends ../layout
block content
    include ../components/header
    div(class='container-margin-m')
        div(class='row')
            div(class='col m3 l4 s12')
                include ../components/panel-option
            div(class='col m7 l8 s12')
                div(class='grid-column grid-panel' style='position: relative')
                    div.row
                        div(class='row grid-row')
                            form(id="form-edit" action='/ciudadano/edit-profile' enctype="multipart/form-data" method='post')
                                div(class='panel-data element-panel')
                                    if user
                                        if user.telefono === ""
                                            div(class="input-field col s12 l12 align-right")
                                                input(id="telefono" type="tel" name='telefono' placeholder='Telefono' class="validate")
                                        if (user.website || user.website === "")
                                            div(class="input-field col s12 l12 align-right")
                                                input(id="website" type="text" name='website' placeholder='website' class="validate")
                                        if (user.direccion || user.direccion === "")
                                            div(class="input-field col s12 l12 align-right")
                                                input(id="direccion" type="text" name='direccion' placeholder='dirección' class="validate")
                                        if (user.emailContact || user.emailContact === "")
                                            div(class="input-field col s12 l12 align-right")
                                                input(id="emailContact" type="email" name='emailContact' placeholder='email de contacto' class="validate")
                                        if (user.urlPerfil === "" || user.urlPerfil)
                                            div(class="input-field col s12 l12 align-right")
                                                input(id="urlPerfil" name='urlPerfil' type="file")
                                        div(class="input-field col s12 l12 align-right")
                                            input(type='submit' class="col s12 l12 btn")
block append scripts
    script(src="http://maps.google.com/maps/api/js?libraries=places")
    script(src='/javascripts/pagination.js')
    script(src='/javascripts/autocomplete.js')
    script.
        template = "contacto";
    script(src='/javascripts/search-peoples.js')